[submodule "docker/images/nginx"]
	path = docker/images/nginx
	url = git@github.com:phanbook/nginx.git
[submodule "docker/images/php"]
	path = docker/images/php
	url = git@github.com:phanbook/php.git
[submodule "docker/images/app"]
	path = docker/images/app
	url = git@github.com:phanbook/app.git
[submodule "docker/images/mysql"]
	path = docker/images/mysql
	url = git@github.com:phanbook/mysql.git
